﻿<div id="MainTOC">
    <a href="#jQueryAjax">jQuery AJAX</a>
    <br />
    <a href="#jQueryDOM">jQuery Y el DOM</a>
</div>
<a name="jQueryAjax" />
jQuery  tiene caracteristicas AJAX excelentes.
<br />
<a name="jQueryDOM" />
Usando jQuery puedes manipular el DOM facilmente
sin tener que que preocuparse con problemas cross-browser.
<div id="SubTOC">
    Este es mi contenido "sub table"
</div>
