html {
    line-height: 1; }

ol, ul {
    list-style: none; }

a img {
    border: none; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
    background-color: #F7F7F7;
    min-height: 100%;
    height: auto;
}

body  {
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 160%;
    color: #555459;
    line-height: 1.5rem;
    *zoom: 1;
}

.card {
    background: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px;
    position: relative;
    opacity: .95;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

@media all and (max-width: 400px) {
    main {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', serif;
    font-weight: 100;
}


h1{
    font-size: 2.2rem;
    line-height: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
    font-family: Lato,appleLogo,sans-serif;
    margin: 0 0 1rem;
}


h2{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 90%;
    margin-bottom: 5px;
    margin-top: 10px;
}

h3{
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 110%;
    margin-bottom: 5px;
}

p {
}

a.small {
    line-height: 100%;
    font-size: .9rem;
}


/* Search Styles */

.search {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 30px;
    z-index: 20;
}

.search h1 {
    margin-bottom: 10px;
}

.search label {
    font-size: 1rem;
    text-align: left;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

.search input {
    width: 100%;
    display: inline-block;
    font-weight: 100;
    padding: 15px;
    margin: 5px 0;
    font-size: 1.3rem;
    color: #475B62;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline: 0;
}

/* Artist List Styles */

.artistlist {
    position: absolute;
    width: 30%;
    min-width:320px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    z-index: 10;
}

.artistlist ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.artistlist li {
    padding: 10px 10px 15px 10px;
    border-bottom: 1px solid #999;
    opacity: .9;
    transition: all 0.3s ease-out;
}

.artistlist a {
    display: block;
    text-decoration: none;
}

.artistlist li:hover {
    cursor: pointer;
    background: #FDF6E3;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/*.artist img {
  display: block;
  float: left;
  width: 60px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
*/
.artist info {
    display: block;
    float: left;
    padding-left: 120px !important;
}

.artist:last-child {
    border-bottom:none;
}

.artistinfo {
    position: absolute;
    background: white;
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 30px 40px;
    position: relative;
    opacity: 1;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.artistinfo h1{
    font-size: 1.8em;
    margin-bottom: 3px;
}

.artistinfo h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.artistinfo .longbio {
    font-size: 1.2rem;
    font-weight: 300;
}

.artistinfo img {
    width: 40%;
    max-width: 130px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}
