<footer>

  <form id="tweetform" action="http://twitter.com/home" method="get">
    <fieldset>
      <legend>Share on Twitter</legend>
      <textarea name="status" cols="100" rows="3" required="required" maxlength="140">Recibiendo mi capacitación de gulp en @conamype</textarea>
      <button type="submit" class="icon-twitter">Tweet</button>
    </fieldset>
  </form>

  <p>&copy; <!-- @echo author -->, version <!-- @echo version -->. <a href="#welcome">Return to top&hellip;</a></p>

</footer>
